Excel-Mapper/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@variables('ResponseArray')"
                },
                "runAfter": {
                    "For_each": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_entities_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('mspnzlancomDataBackPlane')}/entities",
                    "queries": {
                        "$top": 10
                    }
                },
                "runAfter": {}
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Get_entities_(V2)')?['value']",
                "actions": {
                    "Transform_using_Data_Mapper_XSLT": {
                        "type": "Xslt",
                        "kind": "DataMapper",
                        "inputs": {
                            "content": "@items('For_each')",
                            "map": {
                                "source": "LogicApp",
                                "name": "FirstMap.xslt"
                            }
                        }
                    },
                    "Append_to_array_variable": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "ResponseArray",
                            "value": "@body('Transform_using_Data_Mapper_XSLT')"
                        },
                        "runAfter": {
                            "Transform_using_Data_Mapper_XSLT": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ResponseArray",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Get_entities_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET"
                }
            }
        }
    },
    "kind": "Stateless"
}